

<h1>Historias de <strong><%= current_user.name %></strong></h1>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Imágen</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title%></td>
        <td><%= image_tag story.picture, class:'img-fluid'%></td>
        <td><%= story.content %></td>
        <% if user_signed_in? &&  current_user == story.user %>
          <td><%= link_to 'Show', story %></td>
          <td><%= link_to 'Edit', edit_story_path(story) %></td>
          <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% elsif user_signed_in? &&  current_user.admin%>
          <td><%= link_to 'Show', story %></td>
          <td><%= link_to 'Edit', edit_story_path(story) %></td>
          <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% else %>
          <td><%= link_to 'Show', story %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path, class:"btn btn-success" %>
