<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <%= link_to root_path, class:"navbar-brand" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="5 12 3 12 12 3 21 12 19 12" />
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
        </svg>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if  user_signed_in? %>
                <li class="nav-item active p-3">
                    <%= link_to current_user.name, profile_path(current_user.id) %>
                </li>
                <li class="nav-item active p-3">
                    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
                </li>
            <% else %>
                <li class="nav-item active p-3">
                    <%= link_to 'Iniciar Sesión', new_user_session_path %>
                </li>
                <li class="nav-item sctive p-3">
                    <%= link_to 'Registrarse', new_user_registration_path %>
                </li>
            <% end %>

        </ul>
    </div>
</nav>